<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1 mayo" src="https://avatars0.githubusercontent.com/u/16659307"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Oh, Hi..? I'm <span id="js-rotating">Miya, M, Miyaku, Mayomi, Inisial M, ℳιуα, ℳ</span></h4>
  </div>
  <div class="user-content">
    <p>Just women that know about internet, but internet maybe don't know about me and my life story 😇 cuz i never sharing something about me on internet 😅 Still a lot that can be shared other than about myself 🖕, maybe something that can useful for other people 😉
    </p>
  </div>
</div>