<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1 mayo" src="https://avatars0.githubusercontent.com/u/16659307"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I'm <span id="js-rotating">Miya, M, Miyaku, Mayomi, Inisial M, ℳιуα, ℳ</span></h4>
  </div>
  <div class="user-content">
    <p>I'm from Borneo Island, Indonesia, my hobby still sleep tight and writing. I like share something that i know & i hope be useful for anyone, the point is "can", not "who, where or whatever" 😊 nice to meet you btw 😉
    </p>
  </div>
</div>