<div class=floatRight>
<div class="a2a_kit a2a_default_style floatRight" data-a2a-icon-color="#ccc">
<a href="https://www.addtoany.com/share"></a>
<a class="a2a_button_twitter faa-vertical animated-hover"></a>
<a class="a2a_button_facebook faa-vertical animated-hover"></a>
<a class="a2a_button_google_plus faa-vertical animated-hover"></a>
<a class="a2a_button_whatsapp faa-vertical animated-hover"></a>
<a class="a2a_button_line faa-vertical animated-hover"></a>
<a class="a2a_button_telegram faa-vertical animated-hover"></a>
<a class="a2a_button_print faa-vertical animated-hover"></a>
</div>
</div>