<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }} &rsaquo; {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="//miyaku.github.io/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/global.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet"> 
    {% for css in layout.css %}{% if css contains "//" %}<link rel="stylesheet" href="{{css}}">{% else %}<link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">{% endif %} {% endfor %}
    {% for css in page.css %}{% if css contains "//" %}<link rel="stylesheet" href="{{css}}">{% else %}<link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">{% endif %}{% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
	{% include meta.html %}
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav class="top-nav blue">
        <div class="nav-wrapper">
          <div class="container">
            <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="fa fa-bars fa-24"></i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-2 mayo pulse" src="https://miyaku.github.io/assets/imgs/favicon-96x96.png"></a>
            <span class="white-text name">{{site.user}}</span>
            <span class="white-text email">{{site.description}}</span>
            <!--span class="white-text email">{{site.user_email}}</span-->
          </div>
        </li>
		<li class="search">
          <div class="search-wrapper card has-feedback">
            <input id="search-box" type="text" class="form-control" placeholder="Search..."><i class="fa fa-search form-control-feedback"></i>
          </div>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="fa fa-home fa-21"></i>Home</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="fa fa-code-fork fa-21"></i>Projects</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="fa fa-folder-o fa-21"></i>Categories</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="fa fa-tags fa-21"></i>Tags</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="fa fa-rss fa-21"></i>RSS</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="fa fa-user-o fa-21"></i>About</a></li>
		
       <!-- <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons md-24">email</i>Contact</a></li>-->
      </ul>
    </header>
    <main>