<div class=facts_left>
<script type=text/javascript src=/assets/jes/protect.js></script>
<img src="/assets/dsg/i.png" rel=nofollow class="img-responsive" alt="M"/>
</div>
<div class=facts_right>
<div class=facts_right1>
<h2>Seriously look me?</h2>
</div>
{% include Mpropil.html %}
<div class=clear> </div>
<p>Hi, my name is <b>Mayomi</b> but my nick is Miya, also inisial M, I'm from Borneo Island, Indonesia, my hobby still sleep tight and writing. I like share something that i know & i hope be useful for anyone, the point is "can", not "who, where or whatever" 😊 nice to meet you btw 😉</p>
</div>
