.M-bagi{width:100%;overflow:hidden}.M-center .M-bagi{display:inline-block;width:auto}
.M-bagi .M-bagi-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.M-bagi .M-dropdown-hover,.M-bagi .M-dropdown-click{position:static;float:left}
.M-bagi .M-tombol{white-space:normal}
.M-bagi-block .M-bagi-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.M-bagi-block.M-center .M-bagi-item{text-align:center}.M-block{display:block;width:100%}
.M-tombol{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.M-tombol{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.M-grey,.M-hover-grey:hover,.M-gray,.M-hover-gray:hover{color:#000!important;background-color:#ebebeb!important}
.M-light-grey,.M-hover-light-grey:hover,.M-light-gray,.M-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.M-fb,.M-hover-fb:hover{color:#fff!important;background-color:#3b5998!important}
.M-twit,.M-hover-twit:hover{color:#fff!important;background-color:#55acee!important}
.M-hover-tele:hover{color:#fff!important;background-color:#2196F3!important}
.M-gpl,.M-hover-gpl:hover{color:#fff!important;background-color:#de483a!important}
.M-prs,.M-hover-prs:hover{color:#fff!important;background-color:#b6121b!important}
.M-in,.M-hover-in:hover{color:#fff!important;background-color:#009688!important}
.M-wasap,.M-hover-wasap:hover{color:#fff!important;background-color:#56c964!important}
.M-printaja,.M-hover-printaja:hover{color:#fff!important;background-color:#222222!important}
.M-twit-grey,.M-hover-twit-grey:hover,.M-tum,.M-hover-tum:hover{color:#fff!important;background-color:#497693!important}