h2 {
  color: #248eba;
}

a:link,a:visited,a:hover,a:active {
  color: #248eba;
}

a:active {
  padding-right: 1px;
  padding-left: 1px;
}

p {
  font-size: 14px;
  color: #666;
  margin: 2em 0 0;
  line-height: 1.8em;
}

.post-meta {
  font-size: 9px;
  font-style: italic;
  color: grey;
}

.post-meta,.post-list {
  float: left;
  list-style-type: none;
}

.post-list {
  color: #248eba;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.Mbagi ul li {
  float: right;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  font-size: 18px;
  display: table;
  width: 100%;
  position: relative;
}

.Mbagi ul li a.rss:before {
  content: "\f143";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.tuit:before {
  content: "\f099";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.github:after {
  content: "\f09b";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.ithub:after {
  content: "\f16d";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.album:after {
  content: "\f03e";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.ig:before {
  content: "\f044";
  color: #ccc;
  padding-right: .2em;
}

.Mbagi ul li a.rss:hover:before {
  color: #fb7629;
}

.Mbagi ul li a.tuit:hover:before {
  color: #248eba;
}

.Mbagi ul li a.github:hover:after {
  color: #000;
}

.Mbagi ul li a.ithub:hover:after {
  color: #a97a60;
}

.Mbagi ul li a.album:hover:after {
  color: #01dcdf;
}

.Mbagi ul li a.ig:hover:before {
  color: #ff00fc;
}

.a2a_kit a:hover {
  color: #248eba;
}

blockquote {
  height: auto!important;
  height: 40px;
  font-size: 14px;
  color: #1d7aa0;
  font-style: italic;
  border: 1px dashed #ccc;
  border-left: 2px solid #248eba;
}

blockquote,code,pre {
  width: 90%;
  margin: 10px;
  padding: 5px 10px;
}

pre {
  overflow: auto;
  font-size: normal;
  color: #666;
  background-color: #f1f0f0;
  border: 1px solid #ccc;
}

xcode {
  font-size: 14px;
  color: #1d7aa0;
  background-color: #f1f0f0;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}