@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.material-icons.em {
  font-size: inherit;
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;
  margin: -.2ex .15em .2ex;
  line-height: normal;
  vertical-align: middle;
}

.material-icons.one {
  /* prevent img stretch */
  width: auto;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
https://google.github.io/material-design-icons/#icon-font-for-the-web 
https://material.io/tools/icons/?style=baseline
*/
